<!DOCTYPE html>
<html>

<head>
    <title>{{{title}}}</title>
</head>

<body>
    <div id="root"></div>
    <h1>Hello from Dummy!</h1>
    <h3>Does FireApp work?</h3>

    <script src="{{{baseUrl}}}/fire.app/{{{fireAppVersion}}}/index.js"></script>
    <script>
        fireApp({
            apps: {{{ apps }}},
            navigations: {{{ navigations }}},
            config: {{{ config }}},
            features: {{{ features }}},
        })
    </script>

    <h3>Seems it does!</h3>
</body>

</html>
